@keyframes rgbMode1 {
    10%{
        box-shadow: 5px 5px 9px rgb(61, 242, 255);
    }
    20% {
        box-shadow: 5px 5px 7px rgb(98, 255, 54);
    }
    30%{
        box-shadow: 5px 5px 7px rgb(234, 255, 42);   
    }
    40%{
        box-shadow: 5px 5px 7px rgb(255, 37, 219);
    }
    50%{
        box-shadow: 5px 5px 7px rgb(45, 48, 255);
    }
    60%{
        box-shadow: 5px 5px 7px rgb(255, 40, 2);
    }
    70%{
        box-shadow: 5px 5px 7px rgb(255, 233, 229);
    }
    80%{
        box-shadow: 5px 5px 7px rgb(255, 203, 33);
    }
    90%{
        box-shadow: 5px 5px 7px rgb(7, 207, 0);  
    }
    100%{
        box-shadow: 5px 5px 7px rgba(255, 33, 181, 0.267);
    }
}

@keyframes rgbMode2 {
    25%{
        box-shadow: 5px 5px 7px rgb(247, 0, 0);}
    50%{
        box-shadow: 5px 5px 7px rgb(0, 229, 255);
    }
    75%{
        box-shadow: 5px 5px 7px rgba(0, 229, 255, 0.473);
        
    }
}

@keyframes rgbline1 {
    20%{
        box-shadow: 5px 5px 7px rgb(11, 247, 255); 
    
}
}


.keyboardBody{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
p{
    margin: 0 auto;
}
.btn{
    height: 45px;
    width: 40px;
    border: 5px solid rgb(179, 179, 179);
}
.btnCustom{
    background: linear-gradient(140deg,rgb(253, 249, 249), rgb(190, 190, 190));
    height: 45px;
    width: 40px;
    border-radius: 5px;
    animation: rgbMode1 8s linear infinite;
    transition: 0.3s;
    border:2px solid rgb(173, 173, 173);
    margin: 1.5px;
}

.btn_teste p{
    color: rgb(82, 82, 82);
    background:linear-gradient(130deg, rgb(202, 202, 202), rgb(236, 236, 236)) ;
    width: 30px;
    height: 30px;
    position: relative;
    left: -4px;
    top: 2px;
    border-radius:5px;
    border-left:0.5px solid rgb(160, 160, 160);
    border-top: 0.5px solid rgb(160, 160, 160);
}

.btnCustom:hover{
    cursor: pointer;
    box-shadow: 5px 5px 7px rgb(0, 238, 255);
}

.btnSpace{
    width: 560px;
}
.btnSpace p{
    width: 550px;
}
.btnHome{
    width: 82px;
}
.btnHome p{
    width: 70px;
}
.btnShift{
    width: 62px;
}
.btnShift p{
    width: 50px;
}
.bntShift2{
    width: 60px;
}
.bntShift2 p{
    width: 49px;
}
.btnF{
    background: linear-gradient(140deg,rgb(253, 249, 249), rgb(190, 190, 190));
    height: 40px;
    width: 67px;
    border-radius: 5px;
    animation: rgbMode1 8s linear infinite;
    transition: 0.3s;
    border:2px solid rgb(173, 173, 173);
    margin: 1.5px;
}

.btnF p{
    color: rgb(82, 82, 82);
    font-size: 11px;
    background:linear-gradient(130deg, rgb(202, 202, 202), rgb(236, 236, 236)) ;
    width: 55px;
    height: 30px;
    position: relative;
    left: -4px;
    top: 1px;
    border-radius:5px;
    border-left:0.5px solid rgb(160, 160, 160);
    border-top: 0.5px solid rgb(160, 160, 160);
}

#input{
    width: 500px;
    height: 150px;
    background-color: white;
    color: black    ;
    margin-bottom: 50px;
    border: none;
    

}

